* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: $lato;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 16px;
}

h1 {
  font-family: $roboto;
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 100;
}

h2 {
  font-family: $roboto;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 100;
}

h3 {
  font-family: $roboto;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 100;
}

.container {
  max-width: 1280px;
  margin: auto;
}

input {
  -webkit-appearance: none;
}
