//site colors
$white: #fff;
$blue: #79addc;
$black: #000;
$orange: #ff7d38;
$gray: #f5f5f5;

// fonts
$amatic: "Amatic SC", serif;
$roboto: "Roboto", sans-serif;
$lato: "Lato", sans-serif;

// images

// tour landing page images
// 1
$israelTour: linear-gradient(to right, rgba($black, 0.5), rgba($black, 0.5)),
  url("../images/tour/tour-01.jpg");

// 2
$usaTour: linear-gradient(to right, rgba($black, 0.5), rgba($black, 0.5)),
  url("../images/tour/tour-02.jpg");

// 3
$australiaTour: linear-gradient(to right, rgba($black, 0.5), rgba($black, 0.5)),
  url("../images/tour/tour-03.jpg");

// 4
$newZealandTour: linear-gradient(to right, rgba($black, 0.5), rgba($black, 0.5)),
  url("../images/tour/tour-04.jpg");

// 5
$franceTour: linear-gradient(to right, rgba($black, 0.5), rgba($black, 0.5)),
  url("../images/tour/tour-05.jpg");

// 6
$egyptTour: linear-gradient(to right, rgba($black, 0.5), rgba($black, 0.5)),
  url("../images/tour/tour-06.jpg");

// 7
$japanTour: linear-gradient(to right, rgba($black, 0.5), rgba($black, 0.5)),
  url("../images/tour/tour-07.jpg");

// 8
$canadaTour: linear-gradient(to right, rgba($black, 0.5), rgba($black, 0.5)),
  url("../images/tour/tour-08.jpg");

// 9
$uaeTour: linear-gradient(to right, rgba($black, 0.5), rgba($black, 0.5)),
  url("../images/tour/tour-09.jpg");

// tour israel page
// 1
$israelTour1: url("../images/tour/tour-israel/israel-tour-01.jpg");

// 2
$israelTour2: url("../images/tour/tour-israel/israel-tour-02.jpg");

// 3
$israelTour3: url("../images/tour/tour-israel/israel-tour-03.jpg");

// tour usa page
// 1
$usaTour1: url("../images/tour/tour-usa/usa-tour-01.jpg");

// 2
$usaTour2: url("../images/tour/tour-usa/usa-tour-02.jpg");

// 3
$usaTour3: url("../images/tour/tour-usa/usa-tour-03.jpg");

// tour australia page
// 1
$ausTour1: url("../images/tour/tour-aus/aus-tour-01.jpg");

// 2
$ausTour2: url("../images/tour/tour-aus/aus-tour-02.jpg");

// 3
$ausTour3: url("../images/tour/tour-aus/aus-tour-03.jpg");

// tour new Zealand page
// 1
$nzTour1: url("../images/tour/tour-nz/nz-tour-01.jpg");

// 2
$nzTour2: url("../images/tour/tour-nz/nz-tour-02.jpg");

// 3
$nzTour3: url("../images/tour/tour-nz/nz-tour-03.jpg");

// tour france page
// 1
$franceTour1: url("../images/tour/tour-france/france-tour-01.jpg");

// 2
$franceTour2: url("../images/tour/tour-france/france-tour-02.jpg");

// 3
$franceTour3: url("../images/tour/tour-france/france-tour-03.jpg");

// tour egypt page
// 1
$egyptTour1: url("../images/tour/tour-egypt/egypt-tour-01.jpg");

// 2
$egyptTour2: url("../images/tour/tour-egypt/egypt-tour-02.jpg");

// 3
$egyptTour3: url("../images/tour/tour-egypt/egypt-tour-03.jpg");

// tour japan page
// 1
$japanTour1: url("../images/tour/tour-japan/japan-tour-01.jpg");

// 2
$japanTour2: url("../images/tour/tour-japan/japan-tour-02.jpg");

// 3
$japanTour3: url("../images/tour/tour-japan/japan-tour-03.jpg");

// tour canada page
// 1
$canadaTour1: url("../images/tour/tour-canada/canada-tour-01.jpg");

// 2
$canadaTour2: url("../images/tour/tour-canada/canada-tour-02.jpg");

// 3
$canadaTour3: url("../images/tour/tour-canada/canada-tour-03.jpg");

// tour uae page
// 1
$uaeTour1: url("../images/tour/tour-uae/uae-tour-01.jpg");

// 2
$uaeTour2: url("../images/tour/tour-uae/uae-tour-02.jpg");

// 3
$uaeTour3: url("../images/tour/tour-uae/uae-tour-03.jpg");

// special offers images
$barcelona: url("../images/special-offer-01.jpg");

$bangkok: url("../images/special-offer-02.jpg");

// blog images
$blog: url("../images/blog.jpg");

// contact page map
$map: url("../images/map.png");
