.booking-container {
  width: 818px;
  margin: 0 auto;
  .home-form {
    min-height: 780px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 100px;
    font-size: 18px;
    font-weight: 100;

    .dropdown-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .dropdown {
        width: 222px;
        height: 58px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .input-label {
          display: flex;
          align-items: center;
          min-width: 120px;
        }

        select {
          width: 103px;
          height: 100%;
          background: url("../images/down-arrow.svg");
          background-size: 20px;
          background-repeat: no-repeat;
          background-position: right;
          background-position-x: 65px;
          appearance: none;
        }
      }
    }

    h1 {
      font-size: 60px;
      font-weight: 100;
    }
    .form-row {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      min-height: 58px;

      .input-label {
        width: 120px;
        display: flex;
        align-items: center;
      }

      .text-input {
        border: 1px solid $blue;
        width: 100%;
        margin-right: 10px;
        padding-left: 15px;
        font-family: $roboto;
        font-size: 18px;
        font-weight: 100;

        &::placeholder {
          color: $black;
          font-weight: 100;
        }
      }

      .input-w-logo {
        width: 100%;
        height: 58px;
        display: flex;
        margin-right: 10px;

        img {
          height: 19px;
          margin-top: 19.5px;
          margin-left: -40px;
        }
      }
    }
    .long-textbox {
      height: 192px;

      .long-text {
        width: 100%;
        font-family: $roboto;
        font-size: 18px;
        display: flex;
        text-align: top;
        padding-top: 20px;
      }
    }

    .submit-button {
      width: 100%;
      margin-top: 15px;
      height: 60px;
      background-color: $blue;
      border: none;
      font-size: 15px;
      color: $white;
      text-transform: uppercase;
      border-radius: 30px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 840px) {
  .booking-container {
    width: 80%;
    .home-tours-container {
      display: flex;
      width: 100%;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      margin-top: 15px;
      margin-bottom: 5px;

      .tour {
        width: 304px;
        height: 236px;
        margin-bottom: 15px;

        .tour-title-wrap {
          .tour-title {
          }
          .tour-subtitle {
          }
        }
        .tour-button {
        }
      }
    }

    .home-form {
      margin: 0px auto 100px;
      width: 100%;
      display: flex;
      flex-direction: column;
      font-size: 18px;
      font-weight: 100;
      padding: 0px 20px;

      .dropdown-container {
        display: flex;
        justify-content: space-around;

        .dropdown {
          max-width: 222px;
          height: 58px;
          display: flex;
          margin: 10px 0px;

          .input-label {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: -15px;
            text-align: center;
            width: 80px;
          }

          select {
          }
        }
      }

      h1 {
        font-size: 42px;
        font-weight: 100;
      }
      .form-row {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 58px;
        margin-bottom: 0px;
        flex-wrap: wrap;

        .input-label {
          min-width: 120px;
          margin-bottom: 5px;
          display: flex;
          align-items: center;
        }

        .text-input {
          margin-bottom: 20px;
          border: 1px solid $blue;
          width: 100%;
          height: 58px;
          padding-left: 15px;
          font-size: 18px;
          font-weight: 100;

          &::placeholder {
            color: $black;
            font-weight: 100;
          }
        }

        .input-w-logo {
          min-width: 10px;
          width: 100%;
          display: flex;
          margin-bottom: 20px;

          img {
            height: 19px;
            margin-top: 19.5px;
            margin-left: -40px;
          }
        }
      }
      .long-textbox {
        height: 192px;

        .long-text {
          height: 100%;
          width: 100%;
          font-family: $roboto;
          font-size: 18px;
          display: flex;
          text-align: top;
          padding-top: 20px;
        }
      }

      .submit-button {
        width: 100%;
        margin: 15px 0px;
        height: 60px;
        background-color: $blue;
        border: none;
        font-size: 15px;
        color: $white;
        text-transform: uppercase;
        border-radius: 30px;
      }
    }
  }
}

// .booking-form-container {
//   width: 818px;
//   margin: auto;
//   margin-bottom: 600px;
//   h1 {
//     text-transform: none;
//     width: 100%;
//   }
//   .bf-header {
//     width: 818px;
//   }

//   input {
//     height: 58px;
//     font-size: 16px;
//     padding-left: 20px;
//     background-color: $white;
//     border: 2px solid rgba($blue, 0.5);
//     // margin-bottom: 20px;

//     &:focus {
//       outline: none;
//     }
//   }

//   select {
//     /* reset */

//     margin: 0;
//     -webkit-box-sizing: border-box;
//     -moz-box-sizing: border-box;
//     box-sizing: border-box;
//     -webkit-appearance: none;
//     -moz-appearance: none;
//     border-radius: 0;

//     height: 58px;
//     width: 103px;
//     font-size: 16px;
//     padding-left: 20px;
//     background-color: $white;
//     border: 2px solid rgba($blue, 0.5);
//     background-image: url("../images/down-arrow.svg");
//     background-position: 60px 12px;
//     background-repeat: no-repeat;
//     background-size: 25px;

//     &:focus {
//       outline: none;
//     }
//   }

//   .short-answer-wrapper {
//     position: relative;
//     // margin-bottom: 90px;

//     .short-answer-left {
//       width: 344px;
//       position: absolute;
//       left: 0;
//     }

//     .short-answer-right {
//       width: 453px;
//       position: absolute;
//       right: 0;
//     }
//     .short-answer-left-2 {
//       width: 344px;
//       position: absolute;
//       left: 0;
//       top: 75px;
//     }

//     .short-answer-right-2 {
//       width: 453px;
//       position: absolute;
//       right: 0;
//       top: 75px;
//     }
//   }

//   .numerical-answer-wrapper {
//     position: relative;
//     margin-bottom: 290px;

//     .checkin-container {
//       margin-top: 0;
//       position: absolute;
//       top: 150px;
//       width: 100%;
//       height: 58px;
//       display: flex;
//       align-items: center;

//       img {
//         width: 20px;
//         position: absolute;
//         right: 20px;
//       }

//       .input-title {
//       }
//       .check-in {
//         position: absolute;
//         right: 0;
//         width: 707px;
//       }
//     }

//     .checkout-container {
//       margin-top: 0;
//       position: absolute;
//       top: 225px;
//       width: 100%;
//       height: 58px;
//       display: flex;
//       align-items: center;

//       img {
//         width: 20px;
//         position: absolute;
//         right: 20px;
//       }

//       .input-title {
//       }
//       .check-in {
//         position: absolute;
//         right: 0;
//         width: 707px;
//       }
//     }

//     .dropdown-container {
//       margin-top: 0;
//       position: absolute;
//       top: 300px;
//       width: 100%;
//       height: 58px;
//       display: flex;
//       align-items: center;
//       justify-content: space-between;
//       .input-title {
//       }
//       .adult-dropdown {
//       }
//     }

//     .message-container {
//       position: relative;

//       top: 375px;
//       display: flex;
//       margin-bottom: 100px;

//       .message {
//         width: 100%;
//         height: 192px;
//       }
//     }
//   }
//   .round-button {
//     width: 100%;
//     height: 60px;
//     background-color: $blue;
//     text-decoration: none;
//     color: white;
//     display: flex;
//     justify-content: center;
//     // padding: 15px 17px;
//     // padding: 15px 100%;
//     border-radius: 25px;
//     text-transform: uppercase;
//     position: absolute;
//     top: 600px;
//     margin: auto;
//     align-items: center;
//   }
// }

// @media (max-width: 768px) {
//   .booking-form-container {
//     width: 818px;
//     margin: auto;
//     margin-bottom: 600px;
//     h1 {
//       text-transform: none;
//       width: 100%;
//     }
//     .bf-header {
//       width: 818px;
//     }

//     input {
//       height: 58px;
//       font-size: 16px;
//       padding-left: 20px;
//       background-color: $white;
//       border: 2px solid rgba($blue, 0.5);
//       // margin-bottom: 20px;

//       &:focus {
//         outline: none;
//       }
//     }

//     select {
//       /* reset */

//       margin: 0;
//       -webkit-box-sizing: border-box;
//       -moz-box-sizing: border-box;
//       box-sizing: border-box;
//       -webkit-appearance: none;
//       -moz-appearance: none;
//       border-radius: 0;

//       height: 58px;
//       width: 103px;
//       font-size: 16px;
//       padding-left: 20px;
//       background-color: $white;
//       border: 2px solid rgba($blue, 0.5);
//       background-image: url("../images/down-arrow.svg");
//       background-position: 60px 12px;
//       background-repeat: no-repeat;
//       background-size: 25px;

//       &:focus {
//         outline: none;
//       }
//     }

//     .short-answer-wrapper {
//       position: relative;
//       // margin-bottom: 90px;

//       .short-answer-left {
//         width: 344px;
//         position: absolute;
//         left: 0;
//       }

//       .short-answer-right {
//         width: 453px;
//         position: absolute;
//         right: 0;
//       }
//       .short-answer-left-2 {
//         width: 344px;
//         position: absolute;
//         left: 0;
//         top: 75px;
//       }

//       .short-answer-right-2 {
//         width: 453px;
//         position: absolute;
//         right: 0;
//         top: 75px;
//       }
//     }

//     .numerical-answer-wrapper {
//       position: relative;
//       margin-bottom: 290px;

//       .checkin-container {
//         margin-top: 0;
//         position: absolute;
//         top: 150px;
//         width: 100%;
//         height: 58px;
//         display: flex;
//         align-items: center;

//         img {
//           width: 20px;
//           position: absolute;
//           right: 20px;
//         }

//         .input-title {
//         }
//         .check-in {
//           position: absolute;
//           right: 0;
//           width: 707px;
//         }
//       }

//       .checkout-container {
//         margin-top: 0;
//         position: absolute;
//         top: 225px;
//         width: 100%;
//         height: 58px;
//         display: flex;
//         align-items: center;

//         img {
//           width: 20px;
//           position: absolute;
//           right: 20px;
//         }

//         .input-title {
//         }
//         .check-in {
//           position: absolute;
//           right: 0;
//           width: 707px;
//         }
//       }

//       .dropdown-container {
//         margin-top: 0;
//         position: absolute;
//         top: 300px;
//         width: 100%;
//         height: 58px;
//         display: flex;
//         align-items: center;
//         justify-content: space-between;
//         .input-title {
//         }
//         .adult-dropdown {
//         }
//       }

//       .message-container {
//         position: relative;

//         top: 375px;
//         display: flex;
//         margin-bottom: 100px;

//         .message {
//           width: 100%;
//           height: 192px;
//         }
//       }
//     }
//     .round-button {
//       width: 100%;
//       height: 60px;
//       background-color: $blue;
//       text-decoration: none;
//       color: white;
//       display: flex;
//       justify-content: center;
//       // padding: 15px 17px;
//       // padding: 15px 100%;
//       border-radius: 25px;
//       text-transform: uppercase;
//       position: absolute;
//       top: 600px;
//       margin: auto;
//       align-items: center;
//     }
//   }
// }

// @media (max-width: 768px) {
//   .booking-form-container {
//     width: 818px;
//     margin: auto;
//     margin-bottom: 600px;
//     h1 {
//       text-transform: none;
//       width: 100%;
//     }
//     .bf-header {
//       width: 818px;
//     }

//     input {
//       height: 58px;
//       font-size: 16px;
//       padding-left: 20px;
//       background-color: $white;
//       border: 2px solid rgba($blue, 0.5);
//       // margin-bottom: 20px;

//       &:focus {
//         outline: none;
//       }
//     }

//     select {
//       /* reset */

//       margin: 0;
//       -webkit-box-sizing: border-box;
//       -moz-box-sizing: border-box;
//       box-sizing: border-box;
//       -webkit-appearance: none;
//       -moz-appearance: none;
//       border-radius: 0;

//       height: 58px;
//       width: 103px;
//       font-size: 16px;
//       padding-left: 20px;
//       background-color: $white;
//       border: 2px solid rgba($blue, 0.5);
//       background-image: url("../images/down-arrow.svg");
//       background-position: 60px 12px;
//       background-repeat: no-repeat;
//       background-size: 25px;

//       &:focus {
//         outline: none;
//       }
//     }

//     .short-answer-wrapper {
//       position: relative;
//       // margin-bottom: 90px;

//       .short-answer-left {
//         width: 344px;
//         position: absolute;
//         left: 0;
//       }

//       .short-answer-right {
//         width: 453px;
//         position: absolute;
//         right: 0;
//       }
//       .short-answer-left-2 {
//         width: 344px;
//         position: absolute;
//         left: 0;
//         top: 75px;
//       }

//       .short-answer-right-2 {
//         width: 453px;
//         position: absolute;
//         right: 0;
//         top: 75px;
//       }
//     }

//     .numerical-answer-wrapper {
//       position: relative;
//       margin-bottom: 290px;

//       .checkin-container {
//         margin-top: 0;
//         position: absolute;
//         top: 150px;
//         width: 100%;
//         height: 58px;
//         display: flex;
//         align-items: center;

//         img {
//           width: 20px;
//           position: absolute;
//           right: 20px;
//         }

//         .input-title {
//         }
//         .check-in {
//           position: absolute;
//           right: 0;
//           width: 707px;
//         }
//       }

//       .checkout-container {
//         margin-top: 0;
//         position: absolute;
//         top: 225px;
//         width: 100%;
//         height: 58px;
//         display: flex;
//         align-items: center;

//         img {
//           width: 20px;
//           position: absolute;
//           right: 20px;
//         }

//         .input-title {
//         }
//         .check-in {
//           position: absolute;
//           right: 0;
//           width: 707px;
//         }
//       }

//       .dropdown-container {
//         margin-top: 0;
//         position: absolute;
//         top: 300px;
//         width: 100%;
//         height: 58px;
//         display: flex;
//         align-items: center;
//         justify-content: space-between;
//         .input-title {
//         }
//         .adult-dropdown {
//         }
//       }

//       .message-container {
//         position: relative;

//         top: 375px;
//         display: flex;
//         margin-bottom: 100px;

//         .message {
//           width: 100%;
//           height: 192px;
//         }
//       }
//     }
//     .round-button {
//       width: 100%;
//       height: 60px;
//       background-color: $blue;
//       text-decoration: none;
//       color: white;
//       display: flex;
//       justify-content: center;
//       // padding: 15px 17px;
//       // padding: 15px 100%;
//       border-radius: 25px;
//       text-transform: uppercase;
//       position: absolute;
//       top: 600px;
//       margin: auto;
//       align-items: center;
//     }
//   }

//   @media (max-width: 768px) {
//     .booking-form-container {
//       width: 80%;
//       margin: auto;
//       margin-bottom: 850px;
//       h1 {
//         text-transform: none;
//         width: 100%;
//       }
//       .bf-header {
//         width: 818px;
//       }

//       input {
//         height: 58px;
//         font-size: 16px;
//         padding-left: 20px;
//         background-color: $white;
//         border: 2px solid rgba($blue, 0.5);
//         // margin-bottom: 20px;

//         &:focus {
//           outline: none;
//         }
//       }

//       select {
//         /* reset */

//         margin: 0;
//         -webkit-box-sizing: border-box;
//         -moz-box-sizing: border-box;
//         box-sizing: border-box;
//         -webkit-appearance: none;
//         -moz-appearance: none;
//         border-radius: 0;

//         height: 58px;
//         width: 103px;
//         font-size: 16px;
//         padding-left: 20px;
//         background-color: $white;
//         border: 2px solid rgba($blue, 0.5);
//         background-image: url("../images/down-arrow.svg");
//         background-position: 60px 12px;
//         background-repeat: no-repeat;
//         background-size: 25px;

//         &:focus {
//           outline: none;
//         }
//       }

//       .short-answer-wrapper {
//         position: relative;
//         // margin-bottom: 90px;

//         .short-answer-left {
//           width: 100%;
//           position: absolute;
//           left: 0;
//         }

//         .short-answer-right {
//           width: 100%;
//           position: absolute;
//           left: 0;
//           top: 75px;
//         }
//         .short-answer-left-2 {
//           width: 100%;
//           position: absolute;
//           left: 0;
//           top: 150px;
//         }

//         .short-answer-right-2 {
//           width: 100%;
//           position: absolute;
//           right: 0;
//           top: 225px;
//           z-index: 90;
//         }
//       }

//       .numerical-answer-wrapper {
//         position: relative;
//         margin-bottom: 290px;

//         .checkin-container {
//           margin-top: 0;
//           position: absolute;
//           top: 300px;
//           width: 100%;
//           height: 58px;
//           display: flex;
//           align-items: center;

//           img {
//             width: 20px;
//             position: absolute;
//             right: 20px;
//           }

//           .input-title {
//           }
//           .check-in {
//             position: absolute;
//             right: 0;
//             width: 100%;
//           }
//         }

//         .checkout-container {
//           margin-top: 0;
//           position: absolute;
//           top: 375px;
//           width: 100%;
//           height: 58px;
//           display: flex;
//           align-items: center;
//           z-index: 98;

//           img {
//             width: 20px;
//             position: absolute;
//             right: 20px;
//           }

//           .input-title {
//           }
//           .check-in {
//             position: absolute;
//             right: 0;
//             width: 100%;
//           }
//         }

//         .dropdown-container {
//           margin-top: 0;
//           position: absolute;
//           top: 450px;
//           width: 100%;
//           height: 58px;
//           display: flex;
//           align-items: center;
//           justify-content: space-between;
//           .input-title {
//           }
//           .adult-dropdown {
//           }
//         }

//         .message-container {
//           position: relative;

//           top: 525px;
//           display: flex;
//           margin-bottom: 100px;

//           .message {
//             width: 100%;
//             height: 192px;
//           }
//         }
//       }
//       .round-button {
//         width: 100%;
//         height: 60px;
//         background-color: $blue;
//         text-decoration: none;
//         color: white;
//         display: flex;
//         justify-content: center;
//         // padding: 15px 17px;
//         // padding: 15px 100%;
//         border-radius: 25px;
//         text-transform: uppercase;
//         position: absolute;
//         top: 750px;
//         margin: auto;
//         align-items: center;
//       }
//     }
//   }
// }
