footer {
  width: 100%;
  background-color: $blue;
  height: 100px;

  .footer-logo {
  }

  .footer-contents {
    width: 980px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
  }

  .footer-text {
    color: $white;
    font-size: 12px;
    text-align: center;
    margin: auto;
    align-items: center;
  }

  .social-wrapper {
    width: 115px;
    height: 25px;

    .social-icons {
      color: $white;
      font-size: 25px;
      display: flex;
      justify-content: space-between;
    }
  }
}
